
api_version = "2024-04"

[[extensions]]
name = "cart merge expand"
type = "function"

  [[extensions.targeting]]
  target = "purchase.cart-transform.run"
  input_query = "src/run.graphql"
  export = "run"

  [extensions.build]
  command = "cargo build --target=wasm32-unknown-unknown --release"
  path = "target/wasm32-unknown-unknown/release/bundle_cart_transform.wasm"
  watch = [ "src/**/*.rs" ]
