name: JavaScript

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: yarn
      - name: Expand liquid
        run: CI=1 yarn expand-liquid vanilla-js
      - name: Install workspace dependencies
        run: yarn
      - name: Generate types
        run: yarn typegen
      - name: Test
        run: yarn workspaces run test run
