name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Add rustfmt and clippy
        run: rustup component add rustfmt clippy
      - name: Install node dependencies
        run: yarn
      - name: Expand liquid
        run: yarn expand-liquid rust
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test
      - name: Add wasm32-wasi target
        run: rustup target add wasm32-wasi
      - name: Build with wasm32-wasi target
        run: cargo build --release --target wasm32-wasi
