name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Add rustfmt and clippy
        run: rustup component add rustfmt clippy
      - name: Install node dependencies
        run: yarn
      - name: Expand liquid
        run: CI=1 yarn expand-liquid rust
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test
      - name: Add wasm32-wasip1 target
        run: rustup target add wasm32-wasip1
      - name: Build with wasm32-wasip1 target
        run: cargo build --release --target wasm32-wasip1
